<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
    <div class="page-topbar">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3>
                        <span data-template="dialogo:title"/>
                    </h3>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </div>
    <div class="container" id="content">
        <div data-template="multiviewer:show" data-template-id="docs/publish.md"/>
    </div>
</div>