<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
          <!-- Showcase -->
          <div class="showcase">
            <div id="showcase-carousel" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <!-- Item 1 -->
                <div class="item item_1 active">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="table_centered">
                          <div class="table_centered__cell">
                            <!-- Add animation classes to the active slide only -->
                            <h1 class="animateDown" data-animation="animateDown">
                              Diálogo Medieval
                            </h1>
                            <p class="lead delay_1 animateUp" data-animation="animateUp">
                               Edición Digital
                            </p>
                            <img src="~assets/exist.png" class="btn-lg delay_2 animateUp" data-animation="animateUp"/>
                            <img src="~assets/generic/TextGridLogo.svg" class="btn-lg delay_2 animateUp" data-animation="animateUp"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div> <!-- / .carousel-inner -->
            </div> <!-- / .carousel -->

          </div> <!-- / .showcase -->

          <!-- WELCOME MESSAGE
          ================================================== -->
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">

                <h1 class="block-header">
                  <span>Welcome</span>
                </h1>

                <div class="row">
                  <div class="col-sm-12">
                    <p>
            This project aims to focus on the edition and formal approach to the almost fifty debate and dialogue poems transcribed in the Cancionero de Baena (PN1) through the use of innovative digital technologies. The Cancionero de Baena is a large songbook containing almost six hundred poems written in Castilian, compiled in the first half of the XVth century by Juan Alfonso de Baena, scribe in the court of King John II of Castile.</p>
                <p>
Through the application and customization of an accurate encoding using TEI (mainly verse module) and adapted graph-­based algorithms this project intends to edit those fifty debate and dialogue poems in the Cancionero the Baena and analyze and compare their formal characteristics. The project means to argue that data-­rich analysis of poetic meters offers humanistic insights into medieval Iberian poetry. In other words, it seeks to establish the basic characteristics of verse structure in dialogue poetry and give account of possible imitations or contrafactures, common verse, and metrical and rhyming patterns, in order to create a system able to answer types of research questions that are common in medieval versification studies and that involve regularities that show intertextual meanings conventionally associated with a given poetic meter.
          </p>
                <div class="info-board info-board-blue">
                    <h4>Talk</h4>
                    <p>This project will be presented on Friday 25th September at GCDH. <a href="http://www.gcdh.de/index.php/en/events/calendar-view/digital-approach-verse-patterns-dialogue-poems-cancionero-de-baena/" target="_blank"> More info on gcdh.de.</a>
                    </p>
                </div>
                  </div>
                </div> <!-- / .row -->
              </div>
            </div> <!-- / .row -->
          </div> <!-- / .container -->
    </div>